.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #f5f7fa;
}

/* Header */

.header {
    -fx-padding: 20;
    -fx-background-color: #2c3e50;
}

.header-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Sidebar */

.sidebar {
    -fx-padding: 20;
    -fx-pref-width: 280;
    -fx-background-color: white;
    -fx-border-color: #dfe6e9;
    -fx-border-width: 0 1 0 0;
}

/* Main Content */

.content {
    -fx-padding: 20;
}

.section-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Inputs */

.text-field {
    -fx-pref-height: 38;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

/* Buttons */

.button {
    -fx-cursor: hand;
    -fx-padding: 10 16;
    -fx-background-radius: 6;
    -fx-text-fill: white;
}

.success-button {
    -fx-background-color: #27ae60;
}

.primary-button {
    -fx-background-color: #3498db;
}

.danger-button {
    -fx-background-color: #e74c3c;
}

/* Table */

.table-view {
    -fx-background-color: white;
    -fx-border-color: #dfe6e9;
    -fx-border-radius: 6;
}

.table-view .column-header-background {
    -fx-background-color: #ecf0f1;
}

.table-view .column-header {
    -fx-font-weight: bold;
}

/*Dashboard styling below*/

.dashboard {
    -fx-background-color: #f5f7fa;
    -fx-padding: 40;
}

.title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 20 0;
}

.menu-button {
    -fx-pref-width: 220;
    -fx-pref-height: 45;

    -fx-font-size: 14px;
    -fx-font-weight: bold;

    -fx-background-radius: 8;
    -fx-cursor: hand;

    -fx-background-color: #2d6cdf;
    -fx-text-fill: white;
}

.menu-button:hover {
    -fx-background-color: #1f5ac7;
}

/*login styling bwlow*/
.root {
    -fx-background-color: #eef2f7;
}

.login-card {
    -fx-background-color: white;
    -fx-background-radius: 15;

    -fx-padding: 30;

    -fx-max-width: 320;

    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.15),
        15,0,0,4
    );
}

.login-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 15 0;
}

.login-field {
    -fx-pref-width: 250;
    -fx-pref-height: 40;

    -fx-background-radius: 8;
    -fx-font-size: 14px;
}

.login-button {
    -fx-pref-width: 250;
    -fx-pref-height: 40;

    -fx-background-radius: 8;
    -fx-background-color: #2d6cdf;

    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.login-button:hover {
    -fx-background-color: #1f5ac7;
}

/*issues */
.page-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.content {
    -fx-padding: 20;
}

.primary-button {
    -fx-background-color: #2d6cdf;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view {
    -fx-border-color: #d0d7e2;
}